.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.lines:hover {
  .lines__line--1 {
    top: 20px;
    transform: rotate(-40deg);
    transition: ease-in-out 0.5s;
  }
  .lines__line--2 {
    width: 0px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }
  .lines__line--3 {
    top: 20px;
    transform: rotate(40deg);
    transition: ease-in-out 0.5s;
  }
  .end {
    transform: translateX(-50px);
    transition: ease-in-out 0.3s;
    opacity: 0;
  }
  .end2 {
    transform: translateX(50px);
    transition: ease-in-out 0.3s;
    opacity: 0;
  }
}
.lines2:hover {
  .lines__line--1 {
    top: 20px;
    transform: rotate(-40deg);
    transition: ease-in-out 0.5s;
  }
  .ikki {
    width: 0px;
    transform: translateX(-100px);
    opacity: 0;
    transition: ease-in-out 0.5s;
  }
  .lines__line--3 {
    top: 20px;
    transform: rotate(40deg);
    transition: ease-in-out 0.5s;
  }
}
.lines3:hover {
  .lines3__line--1 {
    top: 0;
    transform: rotate(0);
    transition: ease-in-out 0.5s;
  }
  .lines3__line--2 {
    width: 90px;

    opacity: 1;
    transition: ease-in-out 0.5s;
  }
  .lines3__line--3 {
    top: 52px;
    transform: rotate(0);
    transition: ease-in-out 0.5s;
  }
}
